.container {
  display: flex;
  align-items: center;
  border-bottom: 1.5 solid rgba(27, 27, 27, 0.1);
}

.productImage {
  width: 85px;
}

.productImage img {
  width: 100%;
}

.productInfo {
  flex: 1;
  margin-left: 19px;
}

.productCategory {
  color: rgba(27, 27, 27, 0.5);
  font-size: 12px;
  font-weight: 400;
}

.productName {
  color: #1b1b1b;
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 2px;
}

.productInfo,
.productPrice {
  color: #fb9400;
  font-size: 16px;
  font-weight: 600;
}

.qtArea {
  margin-right: 26px;
}

.qtTitle {
  font-weight: 600;
  font-size: 12px;
  color: #000;
  margin-bottom: 2px;
}

.qtCount {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #f2f4f5;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
