.container {
  background: #fff;
}

.header {
  background: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerTopLeft {
}

.headerTitle {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 8px;
}

.headersubTitle {
  color: rgba(151, 151, 151, 0.8);
  font-weight: 400;
  font-size: 16px;
}

.headerTopRight {
}

.menuButtom {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtomLine {
  background-color: #000;
  height: 2px;
}

.headerButtom {
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 24px 0 24px;
}

.searchtext {
  margin: 24px;
  color: #979797;
  font-size: 16px;
  font-weight: 400;
}

.searchtext strong {
  font-weight: 600;
}

.noProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 235px;
  margin: 88px auto;
}

.noProductstext {
  color: #cdcdcd;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 32px;
}
